In [13]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
print('done')

done

In [14]:

table = soup.find('table')
rows = table.find_all('td')

Postcode = []
Borough = []
Neighbourhood = []

for i in range(0, len(rows), 3):
    Postcode.append(rows[i].text.strip())
    Borough.append(rows[i+1].text.strip())
    Neighbourhood.append(rows[i+2].text.strip())
        
data = pd.DataFrame(data=[Postcode, Borough, Neighbourhood]).transpose()
data.columns = ['Postcode', 'Borough', 'Neighbourhood']
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [15]:
data['Borough'].replace('Not assigned', np.nan, inplace=True)
data.dropna(subset=['Borough'], inplace=True)
data.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [16]:
data = data.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
data.columns = ['Postcode', 'Borough', 'Neighbourhood']
data.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [17]:
data['Neighbourhood'].replace('Not assigned', "Queen's Park", inplace=True)
data.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [18]:
data.shape

(103, 3)

In [20]:
geo = pd.read_csv('http://cocl.us/Geospatial_data')
geo.columns = ['Postcode', 'Latitude', 'Longitude']